!.gitignore

#Project Management Tools
.idea
.mvn
.gradle

#Project structure
*.log
**/*.iml
**/*.project
**/*.settings
**/*.classpath
**/target
**/build
**/*.tern-project
build.properties
*.log
.sonar